doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="assets/styles/css/main.css")
  body
    .piano__container
      .wide-keys
        .wkey.key_1
        .wkey.key_2
        .wkey.key_3
        .wkey.key_4
        .wkey.key_5
        .wkey.key_6
        .wkey.key_7
        .wkey.key_8
        .wkey.key_9
        .wkey.key_10
        .wkey.key_11
        .wkey.key_12
      
      .small-keys
        .skey.key_1
        .skey.key_2
        .skey.key_3
        .skey.key_4
        .skey.key_5
        .skey.key_6
  
    script(src='assets/libs/jquery-2.1.4.min.js')
    script(src='assets/scripts/app.js')
